rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {

      // HELPER FUNCTIONS
    	function signedIn() {
        return request.auth.uid != null &&
          request.auth.token.email_verified == true
      }

      function getRoles() {
          return get(/databases/$(database)/documents/users_profile/$(request.auth.uid)).data.roles;
        }

      function hasRole(userRoles, role) {
        return signedIn() && (role in userRoles);
      }

      function doesNotContainFields(fieldsArray){
        return !request.resource.data.keys().hasAny(fieldsArray)
      }

      function validMetadataCreated(){
        return
          request.resource.data.metadata.createdBy == request.auth.uid &&
          (request.resource.data.metadata.createdTimestamp == request.time || hasRole(getRoles(), "admin"))
      }

      function validMetadataUpdated(){
        return
          request.resource.data.metadata.updatedBy == request.auth.uid &&
          (request.resource.data.metadata.updatedTimestamp == request.time || hasRole(getRoles(), "admin"))
      }

      // APP
      match /app/moderator {
        allow read, create, update: if hasRole(getRoles(), "moderator");
      }

      match /app/analytics {
        allow read: if signedIn();
        allow create, update: if hasRole(getRoles(), "moderator");
      }

      // USER PROFILES
      match /users_profile/{userID} {
        allow read: if signedIn();
        allow create: if
          signedIn() &&
          validMetadataCreated() &&
          validMetadataUpdated() &&
          // User can only edit their own document
          request.auth.uid == userID &&
          // Users cannot set their roles
          (doesNotContainFields(['roles']) || request.resource.data.roles == resource.data.roles);
        allow update: if
          signedIn() &&
          validMetadataUpdated() &&
          // User can only edit their own document, except if they are admin
          request.auth.uid == userID &&
          // User cannot set their own roles, except if they are admin
          (doesNotContainFields(['roles']) || request.resource.data.roles == resource.data.roles);

        allow write: if
          validMetadataUpdated() &&
          hasRole(getRoles(), "admin");
      }

      // MENU
      match /menu/draft {
        allow read, create, update: if signedIn();

        match /versions_draft/{versionID} {
          allow read: if signedIn();
          allow create: if
            signedIn() &&
            validMetadataCreated();
          allow delete: if hasRole(getRoles(), "moderator");
        }
        match /versions_published/{versionID} {
          allow read: if signedIn();
          allow create: if
            validMetadataCreated() &&
            hasRole(getRoles(), "moderator");
          allow delete: if hasRole(getRoles(), "moderator");
        }
      }
      match /menu/published {
        allow read, create, update: if signedIn();
      }

       match /menu/inQueue {
        allow read, write: if hasRole(getRoles(), "moderator");
      }

      // IMAGES
      match /images/{imageID} {
        allow read: if signedIn()
      }


      // ARTICLES
    	match /articles_draft/{articleID} {
        allow read:
          if signedIn();
        allow create:
          if signedIn() &&
          validMetadataCreated() &&
          validMetadataUpdated();
        allow update:
          if signedIn() &&
          validMetadataUpdated() &&
          request.resource.data.publishedFullPath == resource.data.publishedFullPath;
        allow delete:
          if hasRole(getRoles(), "moderator");

        match /versions_draft/{versionID} {
        	allow read, create: if signedIn();
          allow write, delete: if hasRole(getRoles(), "moderator");
        }
        match /versions_published/{versionID} {
        	allow read, create: if signedIn();
          allow write, delete: if hasRole(getRoles(), "moderator");
        }
      }

      match /articles_inQueue/{articleID} {
        allow read, create, update: if hasRole(getRoles(), "moderator");
      }

      match /articles_published/{collectionID} {
        allow read: if signedIn();
      }

      match /languageCollections/{collectionID} {
        allow read: if signedIn();
        allow create: if
          signedIn() &&
          // CONTENT VALIDATION
          // articles_published
          request.resource.data.articles_published == null &&
          // metadata
          validMetadataCreated() &&
          validMetadataUpdated();
        allow update: if
          signedIn() &&
          // articles_published
          request.resource.data.articles_published == resource.data.articles_published &&
          validMetadataUpdated();
        allow delete: if hasRole(getRoles(), "moderator")
      }

    }
  }
}
