/* ARTICLE QUASAR */

// CONSISTENT WITH WEBSITE
.article {
  font-size: 18px;
  line-height: 1.8;

  p {
    line-height: 1.8;
    margin: 16px 0;
  }

  @media only screen and (max-width: 600px) {
    font-size: 16px;
    line-height: 1.7;

    p {
      line-height: 1.7;
    }
  }

  // LINK
  a {
    color: $secondary;
    text-decoration: none;
    border-bottom: 4px solid rgba($secondary, 0.2);

    &:hover {
      border-bottom-color: rgba($secondary, 0.5);
    }
  }

  // HEADINGS
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-secondary;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  h2,
  h4 {
    color: $primary;
  }

  h2 {
    margin: calc(24px + 1vw) 0 12px 0;
    font-size: calc(24px + 2vw);
  }

  h3 {
    margin-top: 3vw;
    font-size: calc(16px + 1vw);
  }

  h4 {
    margin-top: 26px;
    font-size: 16px;
  }

  // Highlighting the first paragraph of the article
  .ProseMirror > p:first-child {
    font-size: calc(16px + 0.5vw);
    line-height: 1.4em;
    font-weight: 700;
  }

  ul,
  ol {
    padding-left: 1.25rem;
    margin: 16px 0;
  }

  li {
    margin: 8px 0;

    p {
      margin: 8px 0;
    }
  }

  blockquote {
    border-left: 8px solid $primary;
    border-radius: 6px;
    background-color: $grey-2;
    margin: 8px 0 20px 0;
    padding: 8px 16px;
    font-style: italic;

    p {
      margin: 8px 0;
      color: black;
    }
  }

  // IMAGE
  img,
  div[data-youtube-video] {
    max-width: 100%;
    border-radius: 2px;
  }

  figure {
    margin: 8px 0 20px 0;

    figcaption {
      background: $grey-2;
      padding: 6px 8px;
      border-radius: 4px;
      text-align: center;
      font-size: 12px;
      color: $grey-8;

      p {
        margin: 0;
      }

      a {
        border-bottom-width: 2px;
      }
    }
  }

  // VIDEO
  div[data-youtube-video] {
    padding-right: 24px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background: $grey-9;
    margin: 8px 0 20px 0;

    iframe {
      width: 100% !important;
      height: 100% !important;
      position: absolute;
      border: none;
      pointer-events: none;
      border-radius: 6px;
    }
  }
}

// EDITOR SPECIFIC CSS
.article {
  h1,
  h5,
  h6 {
    // We only use heading 2, 3 and 4 in articles. Heading 1 is reserved for the title. And 5 or 6 make an article too complex to read.
    background: $yellow;
    color: black !important;

    &::after {
      content: "⚠️ Incorrect formatting! Select Heading 1, 2 or 3 to fix it.";
      line-height: 14px;
      font-size: 14px;
      padding: 8px;
      display: block;
      position: absolute;
      background: $red;
      color: white;
      box-shadow: $shadow-3;
    }
  }
}

// p {
//     margin: 8px 0;
//   }
