// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #d70057;
$secondary: #0431ea;
$accent: #fff8db;

$light: #fff8db;

$dark: #000000;

$positive: #21ba45;
$negative: #000;
$info: #31ccec;
$warning: #f2c037;

$test: #fff8db;
$grey-1: #faf3d6;
$grey-2: #f5eed2;
$grey-3: #ede6cb;
$grey-4: #e0d9c0;
$grey-5: #bdb7a2;
$grey-6: #9e9987;

$grey: #9e9987;

$grey-7: #757164;
$grey-8: #615e53;
$grey-9: #424038;
$grey-10: #21201c;

$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Noto Sans Mono", sans-serif;
